[user]
	email = {{ .email }}
	name = {{ .name }}
[pull]
	ff = only

[alias]
	lo = !git --no-pager  log -n20 --graph --decorate --pretty=oneline --abbrev-commit
	br = !git --no-pager branch
	loa = log --all --graph --decorate --pretty=oneline --abbrev-commit
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"

[core]
	excludesfile = ~/.gitignore_global

[diff]
	tool = vscode-diff

[difftool]
	prompt = false

[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode-merge

[mergetool]
	keepBackup = false

[mergetool "vscode-merge"]
	cmd = code --wait $MERGED
