{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ if stat "/opt/homebrew/bin/brew" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if stat "/usr/local/bin/brew" -}}
eval "$(/usr/local/bin/brew shellenv)"
{{ end -}}


{{ $brews := list
     "automake"
     "bash"
     "bash-completion2"
     "binutils"
     "curl"
     "dockutil"
     "findutils"
     "gh"
     "git"
     "gnupg"
     "gnu-sed"
     "grep"
     "htop"
     "imagemagick"
     "iperf3"
     "libffi"
     "libpq"
     "jq"
     "readline"
     "ruby-build"
     "ssh-copy-id"
     "tesseract"
     "tmux"
     "wget"
     "zlib" -}}
{{ $casks := list
     "alfred"
     "flux"
     "fantastical"
     "cardhop"
     "google-chrome"
     "iterm2"
     "1password-cli"
     "signal"
     "slack"
     "visual-studio-code" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
       "shellcheck") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ if .brewcasks }}
{{   range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{   end }}
{{ end -}}
EOF
{{ end -}}
