{{- if (eq .chezmoi.os "windows") -}}

# If winget is not available, fallback to Chocolatey as the legacy package manager.

# Winget packages
{{ $winget_packages := list
    "Git.Git"
    "Microsoft.PowerShell"
    "Microsoft.VisualStudioCode"
    "Microsoft.PowerToys"
    "Google.Chrome"
    "Lexikos.AutoHotkey" -}}


# Chocolatey packages
{{ $choco_packages := list
    "git"
    "pwsh"
    "googlechrome"
    "vscode"
    "autohotkey" -}}


if (Get-Command "winget" -errorAction SilentlyContinue)
{
    Write-Host -ForegroundColor Green "Nice! Installing packages via Winget."

{{- range ($winget_packages | uniq) }}
    winget install {{ . }}
{{- end }}

    exit 0
}

Write-Host "Installing packages via Chocolatey."

{{- range ($choco_packages | uniq) }}
choco install {{ . }} -y
{{- end }}

{{- end }}
