{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

### iTerm2

# Specify iTerm2 preferences directory
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.iterm2/iTerm2"

# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true


{{ end -}}
