# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/reference/special-files/chezmoi-format-tmpl/
#

{{/* boolean feature tags */}}
{{- $brewcasks := true -}}{{/* true to install brew casks on macOS */}}
{{- $headless := false -}}{{/* true if this machine has no keyboard and screen */}}
{{- $debian := false -}}{{/* true if this machine is Debian based Linux */}}

{{- $name := "Michael Mercurio" }}
{{- $email := promptStringOnce . "email" "Git email address" "mmercurio@users.noreply.github.com" }}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $headless = promptBoolOnce . "headless" "headless" false -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $debian = eq .chezmoi.osRelease.id "debian" "pop" "ubuntu" -}}
{{-     if not $debian -}}
{{-       if hasKey .chezmoi.osRelease "idLike" -}}
{{-         $debian = contains "debian" .chezmoi.osRelease.idLike -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $brewcasks = promptBool "Install brew casks" true -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  brewcasks = {{ $brewcasks }}
  headless = {{ $headless }}
  osid = {{ $osid | quote }}
  debian = {{ $debian }}
