# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/reference/special-files/chezmoi-format-tmpl/
#

{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $brewcasks := false -}}{{/* true to install brew casks on macOS */}}
{{- $headless := false -}}{{/* true if this machine has no keyboard and screen */}}
{{- $debian := false -}}{{/* true if this machine is Debian based Linux */}}

{{- $name := "Michael Mercurio" }}
{{- $email := promptStringOnce . "email" "Git email address" "mmercurio@users.noreply.github.com" }}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if eq $hostname "Leon" "Anubis" -}}
{{-   $personal = true -}}
{{-   $brewcasks = true -}}
{{- else if eq $hostname "bptvl13" "irdis" "lafcadiotp" -}}
{{-   $personal = true -}}
{{- else if eq $hostname "rafael" -}}
{{-   $personal = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if not $headless -}}
{{-     $headless = promptBoolOnce . "headless" "headless" false -}}
{{-   end -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $debian = eq .chezmoi.osRelease.id "debian" "pop" "ubuntu" -}}
{{-     if not $debian -}}
{{-       if hasKey .chezmoi.osRelease "idLike" -}}
{{-         $debian = contains "debian" .chezmoi.osRelease.idLike -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   if not $brewcasks -}}
{{-     $brewcasks = promptBoolOnce . "brewcasks" "Install brew casks" true -}}
{{-   end -}}
{{- end -}}

{{- if not $personal -}}
{{-   $personal = promptBoolOnce . "personal" "Personal secrets" false -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  personal = {{ $personal }}
  brewcasks = {{ $brewcasks }}
  headless = {{ $headless }}
  osid = {{ $osid | quote }}
  debian = {{ $debian }}
  hostname = {{ $hostname | quote }}
