[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHujLfoZWksndFOY4ZJNgfVtiSOmf9vVZ+J8ECccPAFe

[gpg]
	format = ssh # requires git 2.34 of later

{{ if eq .chezmoi.os "darwin" -}}
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{ end -}}

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[pull]
	ff = only

[alias]
	lo = !git --no-pager  log -n20 --graph --decorate --pretty=oneline --abbrev-commit
	br = !git --no-pager branch
	loa = log --all --graph --decorate --pretty=oneline --abbrev-commit
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	diffwords = diff --color-words=.

[core]
	excludesfile = ~/.gitignore_global
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else }}
	pager = diff-so-fancy | less --tabs=4 -RFX
{{- end }}

[diff]
	tool = vscode-diff

[difftool]
	prompt = false

[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode-merge

[mergetool]
	keepBackup = false

[mergetool "vscode-merge"]
	cmd = code --wait $MERGED

{{ if ne .chezmoi.os "windows" -}}
[interactive]
	diffFilter = diff-so-fancy --patch

{{ end -}}

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

