{{ if eq .chezmoi.os "darwin" "linux" -}}

#!/bin/bash
# This script runs after all other packages (especially asdf) are installed.

set -eufo pipefail

if ! command -v asdf >/dev/null ; then
    echo "$0: WARNING: asdf not found" >&2
    exit
fi

asdf plugin add kubectl https://github.com/asdf-community/asdf-kubectl.git
asdf install kubectl latest

{{ end -}}
