{{ if not .headless -}}
#!/usr/bin/env bash

set -eufo pipefail

{{-   if eq .osid "linux-pop" }}

# Set favorite apps in dock
gsettings set org.gnome.shell favorite-apps "[\
    'pop-cosmic-launcher.desktop', \
    'pop-cosmic-workspaces.desktop', \
    'pop-cosmic-applications.desktop', \
    'google-chrome.desktop', \
    'firefox.desktop', \
    'org.wezfurlong.wezterm.desktop', \
    'terminator.desktop',  \
    'org.gnome.Nautilus.desktop', \
    'io.elementary.appcenter.desktop', \
    'gnome-control-center.desktop' \
]"

gsettings set org.gnome.shell.extensions.pop-cosmic clock-alignment 'RIGHT'
gsettings set org.gnome.shell.extensions.pop-shell active-hint true
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
gsettings set org.gnome.shell.extensions.dash-to-dock dock-position 'BOTTOM'
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide true
gsettings set org.gnome.shell.extensions.dash-to-dock extend-height false
gsettings set org.gnome.shell.extensions.dash-to-dock multi-monitor true

{{-   end }}

gsettings set org.gnome.desktop.interface monospace-font-name 'MesloLGS NF 11'
gsettings set org.gnome.desktop.input-sources xkb-options "['caps:ctrl_modifier']"
gsettings set org.gnome.desktop.lockdown disable-lock-screen false
gsettings set org.gnome.desktop.session idle-delay 780
gsettings set org.gnome.desktop.screensaver lock-enabled true
gsettings set org.gnome.desktop.screensaver lock-delay 60
gsettings set org.gnome.desktop.wm.keybindings minimize "['<Shift><Super>m']"
# Disable keybinding to show notification messages
gsettings set org.gnome.shell.keybindings toggle-message-tray '[]'

if gsettings get org.gnome.shell enabled-extensions | grep -qv 'utcclock@injcristianrojas.github.com' ; then
    echo "Install UTCClock GNOME extension (via browser extension):"
    echo "   https://extensions.gnome.org/extension/1183/utcclock/"
    open https://extensions.gnome.org/extension/1183/utcclock/
fi

echo ""
echo "Logout may be needed for all GNOME changes to take effect."

{{- end }}
