{{ if (eq .chezmoi.os "linux") -}}
{{ if (or (eq .chezmoi.osRelease.id "debian" "ubuntu") (eq .chezmoi.osRelease.idLike "debian" "ubuntu" "ubuntu debian")) -}}
#!/usr/bin/env bash

set -eufo pipefail

packages=(
	curl
	git
	gh
	httpie
	iperf3
	jq
	keychain
	netcat
	net-tools
	openssh-server
	python3
	python3-venv
	ripgrep
	tmux
	htop
	vim
	zsh
)

echo 'Installing packages...'
set -x
sudo apt update
sudo apt install -y ${packages[@]}

{{ end -}}
{{ end -}}
