{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

loginshell=$(getent passwd $LOGNAME | cut -d: -f7)
if [ "$loginshell" != "/usr/bin/zsh" ]; then
  echo 'chsh to zsh...'
  ( set -x; chsh -s /usr/bin/zsh )
fi
{{ end -}}
